0. 시작 url 찾기
   - https://www.koreabaseball.com/Record/TeamRank/TeamRankDaily.aspx

1. 승율표 요소 찾기
   - css selector
     - table.tData -> 2개의 테이블이 나옴, select_one()을 호출했으므로 처음을 선택
     - #cphContents_cphContents_cphContents_udpRecord > table > tbody
     - #cphContents_cphContents_cphContents_udpRecord > table > tbody > tr  -> 2번 단계로 바로 진행
     - .tData  -> 3개의 테이블이 나옴, select_one()을 호출했으므로 처음을 선택
   - bs로 select_one()을 호출하여 요소 확인

In [23]:
import requests
from bs4 import BeautifulSoup
import numpy as np

# 0. 시작 url
url = "https://www.koreabaseball.com/Record/TeamRank/TeamRankDaily.aspx"

response = requests.get(url)
html = BeautifulSoup(response.text, 'html.parser')

table = html.select_one('#cphContents_cphContents_cphContents_udpRecord > table.tData')
table.text

'\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n순위\n팀명\n경기\n승\n패\n무\n승률\n게임차\n최근10경기\n연속\n홈\n방문\n\n\n\n\n1\nLG\n17\n14\n3\n0\n0.824\n0\n7승0무3패\n1패\n9-0-1\n5-0-2\n\n\n2\nSSG\n15\n9\n6\n0\n0.600\n4\n5승0무5패\n1패\n6-0-1\n3-0-5\n\n\n3\nKT\n17\n9\n7\n1\n0.563\n4.5\n5승1무4패\n2승\n8-0-4\n1-1-3\n\n\n4\n삼성\n18\n10\n8\n0\n0.556\n4.5\n5승0무5패\n2패\n7-0-4\n3-0-4\n\n\n5\n롯데\n19\n8\n10\n1\n0.444\n6.5\n5승0무5패\n1패\n3-1-5\n5-0-5\n\n\n6\nNC\n16\n7\n9\n0\n0.438\n6.5\n4승0무6패\n1승\n1-0-4\n6-0-5\n\n\n7\n두산\n19\n8\n11\n0\n0.421\n7\n5승0무5패\n1승\n4-0-4\n4-0-7\n\n\n7\n한화\n19\n8\n11\n0\n0.421\n7\n5승0무5패\n1승\n4-0-4\n4-0-7\n\n\n9\nKIA\n17\n7\n10\n0\n0.412\n7\n5승0무5패\n1승\n4-0-5\n3-0-5\n\n\n10\n키움\n19\n7\n12\n0\n0.368\n8\n3승0무7패\n1패\n4-0-5\n3-0-7\n\n\n'

2. 테이블 데이터 행 데이터 찾기
   - css selector
     - tbody > tr
     - table.tData > tbody > tr
     - tbody tr
   - 각 행요소들이 리스트로 확보

In [36]:
records = table.select('tbody > tr')
print(len(records))

10

In [29]:
records = html.select('#cphContents_cphContents_cphContents_udpRecord > table.tData > tbody > tr')
print(len(records))

10

3. 하나의 행에서 필드값을 추출하기
   - css selector
   - for loop으로 행들을 순회

In [47]:
rows = list()
for record in records:

    # record에서 필드값을 갖는 요소들을 찾기
    fields = record.select('td')
    
    row = list()
    # 각 요소에서 text 추출
    for field in fields:
        row.append(field.text.strip())

    rows.append(row)

rows[0]

arr = np.array(rows)
print(arr)

[['1' 'LG' '17' '14' '3' '0' '0.824' '0' '7승0무3패' '1패' '9-0-1' '5-0-2']
 ['2' 'SSG' '15' '9' '6' '0' '0.600' '4' '5승0무5패' '1패' '6-0-1' '3-0-5']
 ['3' 'KT' '17' '9' '7' '1' '0.563' '4.5' '5승1무4패' '2승' '8-0-4' '1-1-3']
 ['4' '삼성' '18' '10' '8' '0' '0.556' '4.5' '5승0무5패' '2패' '7-0-4' '3-0-4']
 ['5' '롯데' '19' '8' '10' '1' '0.444' '6.5' '5승0무5패' '1패' '3-1-5' '5-0-5']
 ['6' 'NC' '16' '7' '9' '0' '0.438' '6.5' '4승0무6패' '1승' '1-0-4' '6-0-5']
 ['7' '두산' '19' '8' '11' '0' '0.421' '7' '5승0무5패' '1승' '4-0-4' '4-0-7']
 ['7' '한화' '19' '8' '11' '0' '0.421' '7' '5승0무5패' '1승' '4-0-4' '4-0-7']
 ['9' 'KIA' '17' '7' '10' '0' '0.412' '7' '5승0무5패' '1승' '4-0-5' '3-0-5']
 ['10' '키움' '19' '7' '12' '0' '0.368' '8' '3승0무7패' '1패' '4-0-5' '3-0-7']]

4. 2차원 배열 만들기
   - 3번에서 필드값을을 리스트로 만들고 (12개 원소를 갖는 리스트)
   - 그 리스트를 다시 리스트로 작성한다 (10개 원소를 갖는 리스트)

5. np.array 생성한다.

6. array를 파일로 저장

In [49]:
for row in arr:
    print(row)

['1' 'LG' '17' '14' '3' '0' '0.824' '0' '7승0무3패' '1패' '9-0-1' '5-0-2']
['2' 'SSG' '15' '9' '6' '0' '0.600' '4' '5승0무5패' '1패' '6-0-1' '3-0-5']
['3' 'KT' '17' '9' '7' '1' '0.563' '4.5' '5승1무4패' '2승' '8-0-4' '1-1-3']
['4' '삼성' '18' '10' '8' '0' '0.556' '4.5' '5승0무5패' '2패' '7-0-4' '3-0-4']
['5' '롯데' '19' '8' '10' '1' '0.444' '6.5' '5승0무5패' '1패' '3-1-5' '5-0-5']
['6' 'NC' '16' '7' '9' '0' '0.438' '6.5' '4승0무6패' '1승' '1-0-4' '6-0-5']
['7' '두산' '19' '8' '11' '0' '0.421' '7' '5승0무5패' '1승' '4-0-4' '4-0-7']
['7' '한화' '19' '8' '11' '0' '0.421' '7' '5승0무5패' '1승' '4-0-4' '4-0-7']
['9' 'KIA' '17' '7' '10' '0' '0.412' '7' '5승0무5패' '1승' '4-0-5' '3-0-5']
['10' '키움' '19' '7' '12' '0' '0.368' '8' '3승0무7패' '1패' '4-0-5' '3-0-7']

- arr를 str()으로 직접 변환하여 저장

In [65]:
with open('kbo_list.txt', 'w') as f:
    f.write(str(arr))

- arr의 각 행을 '\t'으로 붙여서 파일로 쓰기

In [71]:
with open('kbo.txt', 'w') as f:
    for row in arr:
        line = '\t'.join(row)
        line = line + '\n'
        f.write(line)

- csv 파일로 저장

In [63]:
with open('kbo.csv', 'w') as f:
    for row in arr:
        line = ','.join(row)  
        f.write(line + '\n')