# csv 파일 읽기

In [3]:
import pandas as pd
pop_df = pd.read_csv('population.csv')
pop_df.head()

,행정기관코드,행정기관,총 인구수,연령구간인구수,0세,1세,2세,3세,4세,5세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상
0,1100000000,서울특별시,"9,335,734","9,335,734","40,432","37,092","39,575","41,936","42,838","45,904",...,"10,166","7,861","5,973","4,303","3,532","2,592","1,807","1,185",635,"1,506"
1,1111000000,서울특별시 종로구,"138,184","138,184",425,395,440,467,476,524,...,230,180,131,98,59,73,34,37,14,43
2,1111051500,서울특별시 종로구 청운효자동,"10,986","10,986",40,44,43,41,51,45,...,22,15,11,10,3,7,1,3,1,4
3,1111053000,서울특별시 종로구 사직동,"8,937","8,937",30,21,34,37,28,39,...,19,13,12,7,8,11,3,2,1,7
4,1111054000,서울특별시 종로구 삼청동,"2,189","2,189",7,7,5,7,6,6,...,7,6,4,4,3,0,1,1,0,0

# 행정기관 열의 값 확인

In [25]:
pop_df['행정기관'].values

array(['서울특별시  ', '서울특별시 종로구 ', '서울특별시 종로구 청운효자동', ...,
       '제주특별자치도 서귀포시 대천동', '제주특별자치도 서귀포시 중문동', '제주특별자치도 서귀포시 예래동'],
      dtype=object)

# 행정 기관 열에서 마지막 단어만 추출

In [78]:
# 1. 행정 기관에 스페이스가 있어 제거
temp = pop_df['행정기관'].str.strip()
temp1 = pop_df['행정기관'].str
temp2 = temp1.strip()
print(temp2)
#print(temp)

# 2. 스페이스로 스플릿
temp = temp.str.split(' ')
#print(temp)

# 3. 마지막 단어 선택
temp = temp.str[-1]
#print(temp)

0                  서울특별시
1              서울특별시 종로구
2        서울특별시 종로구 청운효자동
3          서울특별시 종로구 사직동
4          서울특별시 종로구 삼청동
              ...
3905    제주특별자치도 서귀포시 서홍동
3906    제주특별자치도 서귀포시 대륜동
3907    제주특별자치도 서귀포시 대천동
3908    제주특별자치도 서귀포시 중문동
3909    제주특별자치도 서귀포시 예래동
Name: 행정기관, Length: 3910, dtype: object

# search 열에 행정구역 마지막 단어 삽입

In [49]:
pop_df['search'] = temp
pop_df.head()

,행정기관코드,행정기관,총 인구수,연령구간인구수,0세,1세,2세,3세,4세,5세,...,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상,search
0,1100000000,서울특별시,"9,335,734","9,335,734","40,432","37,092","39,575","41,936","42,838","45,904",...,"7,861","5,973","4,303","3,532","2,592","1,807","1,185",635,"1,506",서울특별시
1,1111000000,서울특별시 종로구,"138,184","138,184",425,395,440,467,476,524,...,180,131,98,59,73,34,37,14,43,종로구
2,1111051500,서울특별시 종로구 청운효자동,"10,986","10,986",40,44,43,41,51,45,...,15,11,10,3,7,1,3,1,4,청운효자동
3,1111053000,서울특별시 종로구 사직동,"8,937","8,937",30,21,34,37,28,39,...,13,12,7,8,11,3,2,1,7,사직동
4,1111054000,서울특별시 종로구 삼청동,"2,189","2,189",7,7,5,7,6,6,...,6,4,4,3,0,1,1,0,0,삼청동

# search 열을 조건으로 필터링

In [57]:
addr = '종로구'
j_df = pop_df.loc[pop_df['search'] == addr]

addr = '강남구'
k_df = pop_df.loc[pop_df['search'] == addr]

# 인구수 데이터의 타입 확인

In [61]:
k_df.dtypes

행정기관코드      int64
행정기관       object
총 인구수      object
연령구간인구수    object
0세         object
            ...
97세        object
98세        object
99세         int64
100세 이상    object
search     object
Length: 106, dtype: object