## 실습6 인구 구조 분석

엄..... 정리
 인구 데이터 분석

1. 자료 사이트 들어가서 엑셀 파일로 데이터를 받는다.
2. 필요없었던 위에 3줄을 제거하고 .csv파일로 저장
3. 판다스로 파일 오픈 pop_df = pd.read_csv('파일위치/파일명.csv'), 그냥 read 말고 read_csv ㅇㅇ
4. pop_df["원하는 행이나 열 값"].values 로 속성 값(이름)들 확인 잘할것
4-1. 이름들 보면 '   서울   ' 이렇게 빈칸(스페이스)들이 많은데 이것들을 그대로 쓰는게 아니라 '서울' 이렇게 쓰면 오류가 난다(key에러)
5.

In [1]:
import pandas as pd
pop_df = pd.read_csv('데이터/population.csv')
pop_df.head()

,행정기관코드,행정기관,총 인구수,연령구간인구수,0세,1세,2세,3세,4세,5세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상
0,1100000000,서울특별시,"9,335,734","9,335,734","40,432","37,092","39,575","41,936","42,838","45,904",...,"10,166","7,861","5,973","4,303","3,532","2,592","1,807","1,185",635,"1,506"
1,1111000000,서울특별시 종로구,"138,184","138,184",425,395,440,467,476,524,...,230,180,131,98,59,73,34,37,14,43
2,1111051500,서울특별시 종로구 청운효자동,"10,986","10,986",40,44,43,41,51,45,...,22,15,11,10,3,7,1,3,1,4
3,1111053000,서울특별시 종로구 사직동,"8,937","8,937",30,21,34,37,28,39,...,19,13,12,7,8,11,3,2,1,7
4,1111054000,서울특별시 종로구 삼청동,"2,189","2,189",7,7,5,7,6,6,...,7,6,4,4,3,0,1,1,0,0

In [2]:
pop_df["행정기관"].values

array(['서울특별시  ', '서울특별시 종로구 ', '서울특별시 종로구 청운효자동', ...,
       '제주특별자치도 서귀포시 대천동', '제주특별자치도 서귀포시 중문동', '제주특별자치도 서귀포시 예래동'],
      dtype=object)

In [3]:
# p_df = pop_df["행정기관"].str.strip()
# p_df.str.split(" ").str[-1] # 하나 파씽해서 쓰는거다

pop_df["행정기관"].str.strip().str.split(" ")
temp = pop_df["행정기관"].str.strip().str.split(" ").str[-1] # 하나 파씽해서 쓰는거다
temp

0       서울특별시
1         종로구
2       청운효자동
3         사직동
4         삼청동
        ...
3905      서홍동
3906      대륜동
3907      대천동
3908      중문동
3909      예래동
Name: 행정기관, Length: 3910, dtype: object

In [4]:
p_df = pop_df["행정기관"].str.strip()
#p_df는 series로 오브잭트로 반환된다.

In [5]:
pop_df['search'] = temp
pop_df.head()

,행정기관코드,행정기관,총 인구수,연령구간인구수,0세,1세,2세,3세,4세,5세,...,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상,search
0,1100000000,서울특별시,"9,335,734","9,335,734","40,432","37,092","39,575","41,936","42,838","45,904",...,"7,861","5,973","4,303","3,532","2,592","1,807","1,185",635,"1,506",서울특별시
1,1111000000,서울특별시 종로구,"138,184","138,184",425,395,440,467,476,524,...,180,131,98,59,73,34,37,14,43,종로구
2,1111051500,서울특별시 종로구 청운효자동,"10,986","10,986",40,44,43,41,51,45,...,15,11,10,3,7,1,3,1,4,청운효자동
3,1111053000,서울특별시 종로구 사직동,"8,937","8,937",30,21,34,37,28,39,...,13,12,7,8,11,3,2,1,7,사직동
4,1111054000,서울특별시 종로구 삼청동,"2,189","2,189",7,7,5,7,6,6,...,6,4,4,3,0,1,1,0,0,삼청동

In [6]:
addr = "종로구"
j_df = pop_df.loc[pop_df['search'] == addr]

addr = "강남구"
k_df = pop_df.loc[pop_df['search'] == addr]

In [7]:
k_df

,행정기관코드,행정기관,총 인구수,연령구간인구수,0세,1세,2세,3세,4세,5세,...,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상,search
381,1168000000,서울특별시 강남구,"557,296","557,296","2,447","2,279","2,300","2,520","2,764","3,052",...,383,316,225,207,127,101,87,43,83,강남구