In [2]:
!pip install pandas
import pandas as pd

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.4-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\charl\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\charl\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   -------- ------------------------------- 2.4/11.5 MB 11.8 MB/s eta 0:00:01
   --------------- ------------------------ 4.5/11.5 MB 11.6 MB/s eta 0:00:01
   ----------------------- ---------------- 6.8/11.5 MB 11.6 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.5 MB 11.6 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 11.4 MB/s eta 0:00:00
Downloading numpy-2.2.4-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ------- -------------------------------- 2.4/12.6 MB 11.9 MB/s eta 0:00:01
   -------------- ------------------------- 4.7/12.6 MB 11.8 MB/s eta 0:00:01
   ---------------------- ----------------- 7.1/12.6 MB 11.8 MB/s eta 0:00:01
   ----------------------------- ---------- 9.4/12.6 MB 11.8 MB/s eta 0:00:01
   -------------------------------------- - 12.1/12.6 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 11.5 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.4 pandas-2.2.3 pytz-2025.2 tzdata-2025.2

In [7]:
data = [10,20,30,40]
series = pd.Series(data,index = ("a","b","c","d"))
print(series)
print(type(series))
print((series.index))

a    10
b    20
c    30
d    40
dtype: int64
<class 'pandas.core.series.Series'>
Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
data = {'a':10,'b':20,'c':30,'d':40}
series = pd.Series(data)
print(series)

a    10
b    20
c    30
d    40
dtype: int64

In [14]:
,,#실습 1 kevin의 점수 데이터를 Series로 생성하시요 
#1. 점수를 list로 만들고 Series 생성
#2. 과목명과 점수를 dict로 만들고 Series생성

#1. 점수 리스트

_id = [95, 80, 100, 85]
series = pd.Series(i_d,index = ("국어", "수학", "영어", "국사"), name="Keavin")
print(series)

#2. 과목명과 점수를 dict로 만들기
_id1 = {"국어" : 95, "수학":80, "영어":100, "국사":85}
series1 = pd.Series(i_d1, name="Keavin")
print(series1)

국어     95
수학     80
영어    100
국사     85
Name: Keavin, dtype: int64
국어     95
수학     80
영어    100
국사     85
Name: Keavin, dtype: int64

In [22]:
#실습 4. 실습 1의 점수 데이터에서 다음을 수행하시요

#수학 점수를 90점으로 수정

series['수학'] = 90
#series[1] = 90
print(series)

#국어,영어 점수만 선택

print(series[[0,2]]) # idx 로 할려면 iloc로 하는게 좋다 => 나중에 라벨에 숫자 들가면 오류 뜬다.

#90점 이상인 과목만 선택

print(series[series >= 90])

국어     95
수학     90
영어    100
국사     85
Name: Keavin, dtype: int64
국어     95
영어    100
Name: Keavin, dtype: int64
국어     95
수학     90
영어    100
Name: Keavin, dtype: int64

C:\Users\charl\AppData\Local\Temp\ipykernel_17428\400197961.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series[[0,2]])

In [25]:
#실습6 다음 두 사람의 점수 데이터를 각각 Series로 생성하라
#생성한 Series를 가지고 DataFrame을 생성하라

k_id = [95, 80, 100, 85]
j_id = [50, 100, 70, 70]


index = ["국어","수학","영어","국사"]
kevin = pd.Series(k_id, index=index)
jane = pd.Series(j_id, index=index)

growth = pd.DataFrame({
    'kevin' : kevin,
    'jane' : jane
})

growth

    kevin  jane
국어     95    50
수학     80   100
영어    100    70
국사     85    70

In [40]:
# 실습 7
#  다음은 Jin의 점수이다.  Kevin, Jane, Jin 3명의 점수로 DataFrame을 만드시요.
jin_id = [90, 95, 85, 100]
jin = pd.Series(jin_id, index = ['국어', '영어', '국사', '과학']) 

# jin_id = {'국어':90, '영어':95, '국사':85, '과학' : 100}
# jin = pd.Series(jin_id)

growth2 = pd.DataFrame({
    'kevin' : kevin,
    'jane' : jane,
    'jin' : jin
})

growth2

    kevin   jane    jin
과학    NaN    NaN  100.0
국사   85.0   70.0   85.0
국어   95.0   50.0   90.0
수학   80.0  100.0    NaN
영어  100.0   70.0   95.0

In [46]:
print(growth2.shape)
print(growth2.columns)
print(growth2.values)
print(growth2.index)
print(growth2.dtypes)
print(growth2['jin'])
print(growth2[['jin']])

(5, 3)
Index(['kevin', 'jane', 'jin'], dtype='object')
[[ nan  nan 100.]
 [ 85.  70.  85.]
 [ 95.  50.  90.]
 [ 80. 100.  nan]
 [100.  70.  95.]]
Index(['과학', '국사', '국어', '수학', '영어'], dtype='object')
kevin    float64
jane     float64
jin      float64
dtype: object
과학    100.0
국사     85.0
국어     90.0
수학      NaN
영어     95.0
Name: jin, dtype: float64
      jin
과학  100.0
국사   85.0
국어   90.0
수학    NaN
영어   95.0

In [62]:
# #실습 10
# 실습 7의 DataFrame에서 
# 1. Jin의 점수만 선택하시요.
# 2. Kevin과 Jane의 점수를 선택하시요.
# 3. 위 두 객체의 type은 각각 무엇인가

#1.
growth2[['jin']]

#2. 
growth2[['kevin','jane']]

3. 
growth2[['jin']].dtypes
growth2[['kevin','jane']].dtypes

kevin    float64
jane     float64
dtype: object

In [69]:
data = {
    'Name' : ['홍길동','임꺽정','성춘향'],
    'Age' : [25, 30, 35],
    'City' : ['Seoul', 'Busan', 'Tokyo']
}

df = pd.DataFrame(data, index = ['a','b','c'])
print(df.loc['b'])
print("\n","\n")

print(df.loc['b','Age'])
print("\n","\n")

print(df.loc['a':'c', 'Name':'Age'])
print("\n","\n")

print(df.loc[df['Age'] >= 30])
print("\n","\n")

print(df.loc[:,'name'])    #열 "Name"의 모든 행 선택
print("\n","\n")

print(df.loc['a', :])      #행 'a'의 모든 열 선택
print("\n","\n")

print("\n","\n")
print(df.iloc[1])
print("\n","\n")

print(df.iloc[1,1])
print("\n","\n")

print(df.iloc[0:2, 0:2])
print("\n","\n")

print(df.iloc[[0,2],[1,2]]) # 0번, 2번 행, 1번, 2번 열 선택
print("\n","\n")

print(df.iloc[:,1])          #1번 열의 모든 행 선택
print("\n","\n")

print(df.iloc[0, :])        #0번 행의 모든 열 선택

Name      임꺽정
Age        30
City    Busan
Name: b, dtype: object



30



  Name  Age
a  홍길동   25
b  임꺽정   30
c  성춘향   35



  Name  Age   City
b  임꺽정   30  Busan
c  성춘향   35  Tokyo

KeyError: 'name'

In [88]:
# #실습 11 - 실습 7의 DataFrame에서 
# 1. 학생 모두의 국어 점수를 출력하시요.
# 2. Jane의 수학 점수를 출력하시요.
# 3. Jin이 90점 이상인 과목들로 필터링 하시요.
# 4. 마지막 2과목으로 필터링 하시요.

#1. 국어 출력
print("1. 국어 출력","\n ")

print(growth2.loc['국어'])
print(growth2.iloc[2])

# 2. Jane의 수학 점수를 출력
print("\n ","2. Jane의 수학 점수를 출력")

print("\n ",growth2.loc['수학', 'jane'])
print("\n ",growth2.iloc[3,1])

# 3. Jin이 90점 이상인 과목들로 필터링
print("\n ","3. Jin이 90점 이상인 과목들로 필터링")

print("\n ",growth2.loc[growth2['jin'] >= 90])
print("\n ",growth2.loc[growth2.iloc[:,2] >= 90])

# 4. 마지막 2과목으로 필터링
print("\n", "4. 마지막 2과목으로 필터링")

print("\n ",growth2.loc['수학':])
print("\n ",growth2.iloc[3:])

1. 국어 출력

kevin    95.0
jane     50.0
jin      90.0
Name: 국어, dtype: float64
kevin    95.0
jane     50.0
jin      90.0
Name: 국어, dtype: float64

  2. Jane의 수학 점수를 출력

  100.0

  100.0

  3. Jin이 90점 이상인 과목들로 필터링

      kevin  jane    jin
과학    NaN   NaN  100.0
국어   95.0  50.0   90.0
영어  100.0  70.0   95.0

      kevin  jane    jin
과학    NaN   NaN  100.0
국어   95.0  50.0   90.0
영어  100.0  70.0   95.0

 4. 마지막 2과목으로 필터링

      kevin   jane   jin
수학   80.0  100.0   NaN
영어  100.0   70.0  95.0

      kevin   jane   jin
수학   80.0  100.0   NaN
영어  100.0   70.0  95.0

In [92]:
#실습 13 
bob_id = [60, 90, 95, 85, 100, 80]
index = ['과학','국어','국사', '수학', '영어', '물리']
bob_score = pd.Series(bob_id, index = index, name='bob')
bob_score

과학     60
국어     90
국사     95
수학     85
영어    100
Name: bob, dtype: int64

In [96]:
#bob 점수 추가
score_df['bob'] = bob_score
score_df

NameError: name 'score_df' is not defined

In [ ]:
#케빈 과학점수를 65점으로 수정 ㄱㄱ

In [99]:
data = {
    'Name' : ['홍길동','임꺽정','성춘향'],
    'Age' : [25, 30, 35],
    'City' : ['Seoul', 'Busan', 'Tokyo']
}

df = pd.DataFrame(data)

print(df.isnull())        #각 값의 결측 여부
# print(df.isnull().sum())   #열별 결측값 개수
# print(df.info())           #결측값 및 데이터 타입 요약 정보

# df_dropped_rows = df.dropna()   #결측값 있는 행 제거
# df_dropped_columns = df.dropna(axis=1)   #결측값 있는 열 제거
# df_filled = df.fillna(0)                   #결측값을 0으로 채우기

    Name    Age   City
0  False  False  False
1  False  False  False
2  False  False  False

In [108]:
#실습 14 -  실습 7의 DataFrame에서
# 1. 학생별 결측값 개수를 출력하시요.
growth2.isnull().sum()
# growth2.info()
# growth2

# # 2. 과목별 결측값 개수를 출력하시요.
growth2.isnull().sum(axis=1)

# 3. 결측 값이 있는 과목을 제거하시요.
growth2.dropna()

과학    2
국사    0
국어    0
수학    1
영어    0
dtype: int64

In [116]:
# s = pd.Series([1,2,3,4,5])
# result = s.agg(['sum', 'mean', 'max'])
# print(result)

df = pd.DataFrame({
    'A': [1,2,3],
    'B': [4,5,6]
})
result = df.agg(['sum', 'mean'])
print(result)





# df = pd.DataFrame({
#     'A': [1,2,3],
#     'B': [4,5,6]
# })
# result = df.agg({'A' : 'sum', 'B' : 'mean'})
# print(result)

        A     B
sum   6.0  15.0
mean  2.0   5.0

In [137]:
# 실습 15 - 실습 7의 DataFrame에서

# 1. 학생별 평균 점수를 구하시요.
result1 = growth2.agg(['mean'])
result1_1 = growth2.mean(axis=1)

print("\n",result1_1,"\n")
print("\n",result1,"\n")

# 2. 과목별 평균 점수를 구하시요.
result2_1 = growth2.mean(axis=1)
result2 = growth2.agg(['mean'],axis=1)
print("\n",result2_1,"\n")
print("\n",result2,"\n")

# 3. 과목별 최대/최소/평균 점수를 구하시요
result3 = growth2.agg(['min', 'max', 'mean'], axis = 1)
print(result3)

 과학    100.000000
국사     80.000000
국어     78.333333
수학     90.000000
영어     88.333333
dtype: float64


       kevin  jane   jin
mean   90.0  72.5  92.5


 과학    100.000000
국사     80.000000
국어     78.333333
수학     90.000000
영어     88.333333
dtype: float64


           mean
과학  100.000000
국사   80.000000
국어   78.333333
수학   90.000000
영어   88.333333

      min    max        mean
과학  100.0  100.0  100.000000
국사   70.0   85.0   80.000000
국어   50.0   95.0   78.333333
수학   80.0  100.0   90.000000
영어   70.0  100.0   88.333333

In [ ]:
# 실습 16 -실습 7의 DataFrame에서
# 1. 아래와 같이 '분류' 열을 추가하시요
growth = grhowth.groupby.last(ansrhk0)

# 2. 각 학생의 '분류' 별 평균 점수를 출력하시요. 
# 3. 각 학생의 '분류' 별 최대/최소 점수를 출력하시요.

In [145]:
growth2.to_csv("./growth.csv")

In [154]:
new = pd.read_csv("growth.csv", index_col=0)
print(new)

    kevin   jane    jin
과학    NaN    NaN  100.0
국사   85.0   70.0   85.0
국어   95.0   50.0   90.0
수학   80.0  100.0    NaN
영어  100.0   70.0   95.0